.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  background-size: cover;
  background-image: url('../../assets/crew/background-crew-desktop.jpg');
}

.subContainer{
  max-width: 1110px;
  margin: var(--s600) auto;
}

@media (width < 1110px) {
  .subContainer{
    margin: var(--s600) var(--s400);
  }
}

.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--s300);
  gap: var(--s400);
}

.position{
  font: var(--font4);
  color: var(--white);
  opacity: 0.5;
  text-transform: uppercase;
}

.name{
  font: var(--font3);
  color: var(--white);
  text-transform: uppercase;
  margin: var(--s200) 0 var(--s300) 0;
}

.desc{
  font: var(--font9);
  color: var(--blue-300);
}

.nav{
  display: flex;
  gap: var(--s500);
}

.navItem{
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--white);
  opacity: 0.2;
  border-radius: 50%;
  cursor: pointer;
}

.navItem:hover{
  opacity: 0.5;
}

.navItem.active{
  opacity: 1;
}

.leftDiv{
  display: grid;
  align-items: center;
  grid-template-rows: auto min-content;
}

.photoDiv{
  padding: var(--s400) 0 0 0;
}

.photoDiv img{
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

@media (width <= 768px) {
  .subContainer{
    margin: var(--s500);
    margin-bottom: 0;
  }

  .mainContainer{
    grid-template-columns: 1fr;
  }

  .leftDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 var(--s1600);
  }

  .position{
    font: var(--fontT4);
  }

  .name{
    font: var(--fontT3);
  }

  .desc{
    font: var(--fontT9);
    margin-bottom: var(--s400);
  }

  .nav{
    display: flex;
    gap: var(--s200);
  }

  .navItem{
    width: 10px;
    height: 10px;
  }

  .photoDiv{
    display: flex;
    justify-content: center;
  }
  
  .photoDiv img{
    mask-image: none;
  }
}

@media (width < 600px) {
  .subContainer{
    display: grid;
    margin: var(--s500);
    margin-bottom: 0;
  }

  .mainContainer{
    margin: 0;
  }
  
  .leftDiv{
    margin: 0 ;
  }

  .position{
    font: var(--fontM4);
  }

  .name{
    font: var(--fontM3);
    margin: var(--s100) 0 var(--s300) 0;
  }

  .desc{
    font: var(--fontM9);
    margin-bottom: var(--s1000);
  }

  .photoDiv img{
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

}