.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--s500);
  position: relative;
}

.logoDiv{
  margin-left: var(--s800);
}

.detailDiv{
  display: block;
  flex-grow: 1;
  position: relative;
}

.detail{
  display: block;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: hsla(0 0 100 / 30%);
  position: absolute;
  right: -60px;
  top: 50%;
  z-index: 2;
}

.ulBg{
  backdrop-filter: blur(10px);
  background-color: hsla(0 0 100 / 5%); 
  padding: 0 var(--s800) 0 var(--s1600);
  position: relative;
}

.navItems{
  display: flex;
  gap: var(--s600);
}

.navItems li{
  display: block;
  padding: var(--s600) 0;
  color: var(--white);
  font: var(--font8);
  cursor: pointer;
  position: relative;
}

.navItems li::after{
  transition: ease-in-out 0.2s;
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: transparent;
  bottom: 0px;
  left: 0px;
}

.navItems li.active::after{
  background-color: var(--white);
}

.navItems li.active:hover::after{
  background-color: var(--white);
}


.closeIcon{
  position: relative;
}

.hamburgerMenuDiv, .closeIcon{
  display: none;
  flex-direction: column;
  gap: 6px;
  padding-right: var(--s300);
  cursor: pointer;
}

.menuBar, .closeBar1, .closeBar2{
  width: 24px;
  height: 3px;
  background-color: var(--blue-300);
}

.closeBar1{
  position: absolute;
  transform: rotate(-45deg);
}

.closeBar2{
  position: absolute;
  transform: rotate(45deg);
}

.navItems li:hover::after{
  background-color: hsla(0 0 100 / 30%);
}

@media (width <= 768px) {
  .detailDiv{
    display: none;
  }

  .ulBg{
    backdrop-filter: none;
    background-color: transparent; 
    padding: 0 var(--s400);
  }
}

@media (width <= 600px) {
  .ulBg{
    display: flex;
    flex-direction: column;
    gap: var(--s800);
    width: 60%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(10px);
    background-color: hsla(0 0 100 / 5%); 
    padding: 0;
  }
  
  .hamburgerMenuDiv, .closeIcon{
    display: flex;
  }
  
  .navItems{
    flex-direction: column;
    gap: var(--s400);
    width: 100%;
    padding-left: var(--s400);
  }
  
  .closeIcon{
    display: flex;
    padding: var(--s400) var(--s300);
    justify-content: center;
    align-items: end;
  }

  .navItems li{
    padding: 0;
  }

  .navItems li::after{
    height: 100%;
    width: 3px;
  }
  
}